block config

footer.footer
  p
    a.text-muted(href='#' target='_blank')
      strong= `${siteName}`
    |  &copy;
    i= `${description}`

  ul.list-inline.m-0.justify-content-end
    li.list-inline-item
      a.text-muted(href='#' target='_blank') Support
    li.list-inline-item
      a.text-muted(href='#' target='_blank') Help Center
    li.list-inline-item
      a.text-muted(href='#' target='_blank') Privacy
    li.list-inline-item
      a.text-muted(href='#' target='_blank') Terms
    li.list-inline-item
      a.text-muted(href='#' target='_blank') Terms
    li.list-inline-item
      a.text-muted(href='#' target='_blank') Terms
